* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px; }

.body {
  font-family: "Pacifico";
  font-size: 30px;
  color: white; }

.header__menu {
  background-color: black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  opacity: 70%; }

.header__link {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(white));
  background-image: -webkit-linear-gradient(pink, white);
  background-image: -o-linear-gradient(pink, white);
  background-image: linear-gradient(pink, white);
  font-family: "Pacifico";
  font-size: 30px;
  padding: 15px; }

.header__logo {
  width: 50px;
  height: 50px; }

body {
  background-image: url("../img/background-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.aside {
  position: relative;
  bottom: 50%; }

.body__title--first {
  position: relative;
  border: 5px solid pink;
  border-radius: 100px;
  top: 100px;
  height: 400px;
  width: 50%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: black; }

.body__title--second {
  position: relative;
  background-color: black;
  top: 200px;
  border: 5px solid pink;
  border-radius: 100px;
  height: 300px;
  width: 50%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.title__motivation {
  position: relative;
  left: 36%; }

.title__icon--first {
  position: relative;
  left: 35%;
  width: 160px;
  height: 160px; }

.title__icon--second {
  position: relative;
  left: 37%;
  width: 120px;
  height: 120px; }

.footer {
  position: relative;
  top: 25%; }

.footer__menu {
  height: 100%; }

.footer__buttons {
  background-color: black;
  opacity: 70%;
  border-radius: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.footer__button-icon {
  height: 100px;
  width: 100px; }

.side-block {
  background-color: black;
  width: 10%;
  height: 700px;
  opacity: 60%;
  border-radius: 50px; }

@media (max-width: 1200px) {
  .container {
    max-width: 970px; }
  .body {
    font-size: 25px; } }

@media (max-width: 992px) {
  .container {
    max-width: 750px; }
  .title__icon--first {
    position: relative;
    left: 28%; }
  .title__icon--second {
    position: relative;
    left: 32%; } }

@media (max-width: 767px) {
  .container {
    max-width: none; }
  .header__menu {
    height: 100px; } }

@media (max-width: 694px) {
  .container {
    max-width: none; }
  .body {
    font-size: 20px; } }

@media (max-width: 605px) {
  .container {
    max-width: none; }
  .header__menu {
    height: 150px; } }

@media (max-width: 590px) {
  .container {
    max-width: none; }
  .body {
    font-size: 17px; }
  .title__icon--first {
    position: relative;
    left: 35%;
    height: 70px;
    width: 70px; }
  .title__icon--second {
    position: relative;
    left: 35%;
    height: 70px;
    width: 70px; }
  .title__motivation {
    position: relative;
    left: 32%; }
  .footer__button-icon {
    width: 90px;
    height: 90px; } }

@media (max-width: 432px) {
  .container {
    max-width: none; }
  .title__motivation {
    position: relative;
    left: 25%; }
  .footer__button-icon {
    width: 80px;
    height: 80px; } }

@media (max-width: 386px) {
  .container {
    max-width: none; }
  .title__icon--first {
    position: relative;
    left: 26%;
    height: 70px;
    width: 70px; }
  .title__icon--second {
    position: relative;
    left: 26%;
    height: 70px;
    width: 70px; } }

@media (max-width: 321px) {
  .container {
    max-width: none; }
  .header__menu {
    height: 180px; } }
